### VS Code ###
.vscode/

### Mac Specific ###
.DS_Store
**/.DS_Store

### Xcode ###
Assignment1.xcodeproj/project.xcworkspace/xcshareddata/Assignment1.xccheckout
Assignment1.xcodeproj/project.xcworkspace/xcuserdata/Ben.xcuserdatad/UserInterfaceState.xcuserstate

